@font-face {
   font-family: '字魂105号-简雅黑';
   font-display: swap;
   src: url('file:///C:/Users/sitong/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-14_113356/fonts/%E5%AD%97%E9%AD%82105%E5%8F%B7-%E7%AE%80%E9%9B%85%E9%BB%91/font.ttf');
}
